body,.tbody{
  background: linear-gradient(90.83deg, #202028 0.57%, #1D0F68 99.24%, #1E1552 99.24%);
  background-size: cover;
}
/* navbar css */
nav{
  margin: 3em;
}
.flx{
  display: flex;
  gap: 20em;
  justify-content: center;
  align-items: center;
}
.navs{
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-content: center;
  align-items: center;
}
a{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #E5E5E5;
text-decoration: none;
}
.logo{
color: #E5E5E5;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 51px;
}
.btn1:hover{
  background: linear-gradient(90deg, rgba(149, 129, 255, 0.25) 0%, rgba(61, 173, 255, 0.25) 100%);
border-radius: 18px;
}
.btn1{
padding: 12px 24px;

}
.btn2{
 
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 24px;
gap: 10px;
border: none;

}
.btn2:hover{
padding: 9px 21px;

  border: 3px solid transparent;
  border-radius: 50px;
  border-image-source: linear-gradient(90deg, #9581FF 0%, #3DADFF 100%);
  border-image-slice: 1;
/* background-image: linear-gradient(90.83deg, #9581FF 100%, #3DADFF 99.24%); */
box-sizing: border-box;
z-index: 2;
}
.btn3{

padding: 12px 24px;
gap: 10px;
}
.btn3:hover{
  background: linear-gradient(90deg, #9581FF 0%, #3DADFF 100%);
  /* Apna product */
  
  box-shadow: 0px 12px 35px rgba(63, 172, 255, 0.25);
  border-radius: 18px;
}
/* hero section css */
.herosec{
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
  margin: -2em 6em;
}
.h-content{
  display:block;
  line-height: em;
}
 span, .subhead{


/* tracker */

background: linear-gradient(90deg, #9581FF 0%, #3DADFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.headline{
  color: #E5E5E5;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 70.5054px;
  line-height: 85px;
  margin-top: -1em;
}
.para{

  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  padding-top: 1em;
  padding-bottom: 1em;

  color: #E5E5E5;
  
}
.product-btn{
  /* tracker */

background: linear-gradient(90deg, #9581FF 0%, #3DADFF 100%);
/* Apna product */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 39px;
gap: 21px;
box-shadow: 0px 12px 35px rgba(63, 172, 255, 0.25);
border-radius: 18px;
font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 43px;
letter-spacing: 0.2px;
outline: none;
border-color: transparent;
color: #E5E5E5;

}
/* opensource page css */
.osbody{
  background-color:  #E5E5E5;
  height: 100vh;
}
.head,.chead{
  font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 68.8378px;
text-align: center;
padding-top: 1em;
color: #333333;

}
.subhead{
  font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 40px;
text-align: center;
}
.os-text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8em;
  font-weight: 800;
font-size: 20px;
line-height: 182.52%;
/* or 44px */


color: #333333;

}
/* team css */
.thead{
  font-style: normal;
font-weight: 800;
font-size: 70.5054px;
line-height: 85px;
text-align: center;

color: #E5E5E5;

}
.t-text{
  font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 182.52%;
/* or 44px */
display: flex;
text-align: center;
align-items: center;
justify-content: center;
margin: 0 8em;


color: #E5E5E5;
}
.team
{
  font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 70.5054px;
line-height: 85px;

/* tracker */
margin-left: 2em;
background: linear-gradient(90deg, #9581FF 0%, #3DADFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.teamtag{
  font-weight: 800;
font-size: 24px;
line-height: 182.52%;
/* or 44px */
color: #E5E5E5;
margin-left: 6em;

}
.t-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;

}
.sneha,.jas{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2em;
  justify-content: center;
  margin: 0 1em;
}
.simage,.simg,.jimg,.jimage{
  background-color: #E5E5E5;
  border-radius: 50%;
  height: 100px;
  width: 100px;

}
.sname,.jname{
  font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 38px;
line-height: 46px;
/* identical to box height */


/* tracker */

background: linear-gradient(90deg, #9581FF 0%, #3DADFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.sposition,.jposition{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 182.52%;
/* or 44px */


color: #E5E5E5;
}
.about-s,.about-j{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 182.52%;
/* or 44px */


color: #E5E5E5;
}

/* contact page css */
.cbody{
  background-color: #E5E5E5;
  background-size: cover;
}
.chead{
  background: linear-gradient(90deg, #9581FF 0%, #3DADFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.cpara{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
font-size: 20px;
margin: 0 4em;
/* identical to box height, or 44px */


color: #333333;


}
.contact-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
.cform{
  background-color: #333333;
  height: 400px;
  width: 400px;
}